
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.divv{
    background-color: #EAECEF;
}

.card{
    margin: 10px;
    margin-left: 15px;
}
.navbar{
    background-color: rgb(35, 35, 35);
}
.navbar2{
    background-color: rgb(35, 35, 35);
    text-align: center;
    font-size: small;
    color: white;
    height: 50px;
}
